* {
  padding: 0;
  margin: 0;
}

.today_special_tab_wrapper, .top_restaurant_tab_wrapper {
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
  padding-bottom: 5%;
}

.footer_row {
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  background: linear-gradient(180deg, #F6FDC3 9.77%, #CDFADB 110.16%);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.button_container {
  display: flex;
  gap: 10%;
  padding: 1% 6%;
}

.login_button, .sign_button {
  color: white;
  background-color: orange;
  border: none;
  padding: 10%;
  width: 5rem;
  border-radius: 10px;
}

.landing_page_section {
  width: 100%;
}

.landing_page_article_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  position: relative;
}

.landing_page_image {
  border-radius: 51px;
  height: inherit;
  width: 95%;
}

.landing_page_image_container {
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.landing_page_bhoklagyo {
  font-size: 5rem;
}

.landing_page_p {
  margin: 2% 0;
  font-size: 1.75rem;
}

.landing_page_button {
  margin: 5%;
  width: fit-content;
  background-color: #F6FDC3;
  padding: 3% 10% ;
  font-size: 0.9rem;
  border-radius: 6px;
  border: none;

}

.landing_page_searchbar {
  margin: 5%;
  width: 70%;
  height: 2rem;
  border-radius: 18px;
  border: none;
  padding: 2%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
}
.today_special_tab_page_section,.top_restaurant_tab_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2%;
}

.today_special_tab_page_header,.top_restaurant_tab_page_header {
  text-align: center;
}

.today_special_tab_container, .top_restaurant_tab_container {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  padding: 0 5%;
  gap: 5%;
}

footer {
  margin: 5% 0;
}
.footer_contact_div {
  display: flex;
  width: 100%;
  height: fit-content;
}
.footer_left,.footer_right{
  width: 50%;
  display: flex;
}
.footer_left{
justify-content: flex-end;
  padding-right: 5%;
}
.footer_right{
  padding-left:5% ;
}
.footer_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 13%;
}
.footer_credit_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.navbar_container {
  display: flex;
gap: 2%;
}
.nav_icon{
  width: 6rem;
  height: 4rem;
}
.search_bar_text_box{
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  width: 95%;
}

