<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-in</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href=../../img/component-img/foodDelivery.jpg sizes="any">
</head>
<body>
<div class="sign-in-container">
  <div class="sign-in-form">
    <div>
      <a href="../Landing/index.html">
    <img src="../../img/component-img/bhoklagyoLogo.jpg" alt="Logo" class="logo">
    </a>
    </div>
    <h1>Sign in</h1>
    <form>
      <div class="form-row">
        <div class="form-group">
          <label for="firstname">First Name:</label>
          <input type="text" id="firstname" name="firstname" required>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" name="lastname" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="contact">Contact no. :</label>
          <input type="number" id="contact" name="contact" required>
        </div>
        <div class="form-group">
          <label for="email">Email Address:</label>
          <input type="email" id="email" name="email" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm password:</label>
          <input type="password" id="confirm-password" name="confirm-password" required>
        </div>
      </div>
      <button type="submit">Sign in</button>
    </form>
    <p>You already have account ? <a href="../login/index.html" class="signup-link">Login</a></p>
  </div>
</div>
</body>
</html>
