<!DOCTYPE html>
<html lang="en" class="root">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhok Lagyo</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href=../../img/component-img/foodDelivery.jpg sizes="any">
</head>
<body>

<nav>
    <div class="logo">
        <a href="../../components/login/index.html"><img src="../../img/useless/logo.png" alt="Logo"></a>
    </div>
    <div class="toggle-button" id="navbar-toggle">&#9776;</div>
    <ul class="menu" id="navbar-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="../../components/Restaurtant/index.html">Restaurant</a></li>
        <li><a href="#my-cart">My Cart</a></li>
        <li><a href="../../components/login/index.html">Login</a></li>
        <li><a href="../../components/Sign-in/index.html">SignUp</a></li>
    </ul>
</nav>

<header>
    <h1>Bhok Lagyo</h1>
    <p>Order your fav food or home cooked</p>
    <button>Track My Orders</button>
    <div class="search-container">
        <input type="text" placeholder="Search Restaurant or Foods...">
        <button>Search</button>
    </div>
</header>
<section class="specials" id="specials">
    <h2>Today's Special</h2>
    <div class="specials-grid">
        <div class="special-item">
            <img src="../../img/special-img/desert.jpg" alt="Special 1">
            <p>Special Food</p>
        </div>
        <div class="special-item">
            <img src="../../img/special-img/fastfood.jpg" alt="Special 2">
            <p>Special Food</p>
        </div>
        <div class="special-item">
            <img src="../../img/special-img/thali.jpg" alt="Special 3">
            <p>Special Food</p>
        </div>
    </div>
</section>
<section class="how-it-works">
    <img src="../../img/component-img/how-it-works.jpg" alt="how-it-works">
</section>
<section class="featured-restaurants" id="featured-restaurants">
    <h2>Featured Restaurants</h2>
    <div class="restaurant-grid">
        <div class="restaurant-item">
            <img src="../../img/restaurant-img/byayian.jpg" alt="Restaurant 1">
            <div class="restaurant-info">
                <h3>Byanjan</h3>
                <p>Lakeside, Pokhara</p>
                <h5>✔ Min️: Rs. 299 &nbsp;🛵: 30 &nbsp; <span style="color: red;">★★★★☆</span></h5>
            </div>
        </div>
        <div class="restaurant-item">
            <img src="../../img/restaurant-img/aroma.jpg" alt="Restaurant 2">
            <div class="restaurant-info">
                <h3>Aroma Cafe</h3>
                <p>Chiplaydhunga, Pokhara</p>
                <h5>✔ Min️: Rs. 299 &nbsp;🛵: 30 &nbsp; <span style="color: red;">★★★★☆</span></h5>
            </div>
        </div>
        <div class="restaurant-item">
            <img src="../../img/restaurant-img/utCK.jpg" alt="Restaurant 3">
            <div class="restaurant-info">
                <h3>Anig’s Cloud Kitchen</h3>
                <p>Ratnachowk, Pokhara</p>
                <h5>✔ Min️ Rs. 299 &nbsp;🛵: 30 &nbsp; <span style="color: red;">★★★★☆</span></h5>
            </div>
        </div>
        <div class="restaurant-item">
            <img src="../../img/restaurant-img/utCK.jpg" alt="Restaurant 4">
            <div class="restaurant-info">
                <h3>Utsav’s Cloud Kitchen</h3>
                <p>Newroad, Pokhara</p>
                <h5>✔ Min️ Rs. 299 &nbsp;🛵: 30 min &nbsp; <span style="color: red;">★★★★☆</span></h5>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-container">
        <div class="footer-img">
            <img src="../../img/component-img/mobile-screen.jpg" alt="Mobile App">
        </div>
        <div class="footer-content">
            <h2>Best Food Ordering Web</h2>
            <p>Now you can order food pretty much wherever you are thanks to the free easy-to-use Bhok Lagyo App.</p>
            <div class="button-container">
                <button style="background-color: blue; color: white;">Login</button>
                <button style="background-color: green; color: white;">Signup</button>
            </div>
        </div>
    </div>
    <div class="footer-content-white">
        <div class="contact-info">
            <h3>Need Help?</h3>
            <p>📞 +977 9846098780</p>
            <p>📧 Bhoklagyo@gmail.com</p>
        </div>
        <div class="about-info">
            <h3>About us</h3>
            <p>Contact us</p>
            <p>Privacy policy</p>
        </div>
    </div>
    <div class="footer-content-white">
        <div class="social-links">
            <p>© Bhok Lagyo</p>
            <p>Follow us:</p>
            <span>
                <img src="../../img/social-icon-img/instagramLogo.jpg" alt="Instagram">
                <img src="../../img/social-icon-img/facebookLogo.jpg" alt="facebook">
            </span>

        </div>
    </div>
    <div class="bottom-bar">
        <p>Powered by: UMA Team</p>
    </div>
</footer>
<script src="script.js"></script>
</body>
</html>
