<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="icon" href="../../img/component-img/foodDelivery.jpg" sizes="any">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../../styles/nav-styles.css">
    <link rel="stylesheet" href="../../styles/footer-styles.css">

</head>
<body>
<main>
    <div class="container">
        <div class="order-header">
            <a href="../Delivery-List/index.html">Order #12345</a>
            <select class="order-status">
                <option value="cooking">Being cooked</option>
                <option value="packing">Being packed</option>
                <option value="off-to-delivery">Off to deliver</option>
                <option value="delivered">Delivered</option>
            </select>
        </div>
        <div class="order-details">
            <p><strong>Customer Name:</strong> Megha</p>
            <p><strong>Contact:</strong> 09876345</p>
            <p><strong>Delivery Location:</strong> lakeside, pkr</p>
            <p><strong>Delivery Driver Name:</strong>
                <select class="delivery-driver">
                    <option value="Ram">Ram</option>
                    <option value="Shyam">Shyam</option>
                    <option value="Dam">Dam</option>
                    <option value="Gam">Gam</option>
                </select>
            </p>
            <p><strong>Ordered Items:</strong></p>
            <ul class="order-item">
                <li>
                    <span>1 x Burger</span>
                    <strong>300.00</strong>
                </li>
                <li>
                    <span>2 x Pizza</span>
                    <strong>420.00</strong>
                </li>

            </ul>
            <p><strong>Total:</strong> 720.00</p>
        </div>
        <button>Save</button>
    </div>
</main>
</body>
</html>
