/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141A26;
    overflow-y: scroll;
}

.root {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.profile-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 20px;
    overflow: auto;
}

.inner-sidebar {
    flex: 1;
    margin-bottom: 20px;
    background-color: #ff7f22;
    padding: 10px;
    border-radius: 10px;
}

.inner-sidebar h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    height: 100px;
    aspect-ratio: 4/3;
}

.inner-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.inner-sidebar-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    color: #2c2f33;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.inner-sidebar-btn:hover {
    background-color: #d3d3d3;
}

.content {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    overflow-y: auto;
    height: 100%;
    max-height: 80vh;
}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.client-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #000000;
}
h2 {
    margin-bottom: 10px;
}
p {
    font-size: 16px;
    margin-bottom: 1px;
    color: black;
}

.btn-container {
    width: calc(100% - 20px);
    display: flex;
    justify-content: flex-end;
}

.btn {
    display: block;
    width: 100%;
    max-width: 150px;
    padding: 10px;
    background-color: #ff7f22;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #e6731c;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

form label {
    display: block;
    margin-top: 10px;
    color: #000000;
}

.order-details {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ff7f22;
    color: #ffffff;
}

form input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
}

.section {
    display: none;
}

#profileSection {
    display: block;
}

@media (min-width: 600px) {
    .profile-container {
        flex-direction: row;
    }

    .inner-sidebar {
        margin-right: 5%;
        margin-bottom: 0;
    }

    .content {
        padding: 5%;
        flex: 3;
    }
}
