<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href="../../img/component-img/foodDelivery.jpg" sizes="any">
  <script>
    function validateForm(event) {
      event.preventDefault();
      const password = document.getElementById('password').value;
      const confirmPassword = document.getElementById('confirm-password').value;

      if (password !== confirmPassword) {
        alert('Passwords do not match. Please try again.');
        return false;
      } else {
        alert('Passwords match. Form submitted.');
        document.getElementById('reset-password-form').submit(); // Uncomment to actually submit the form
      }
    }
  </script>
</head>
<body>
<div class="login-container">
  <div class="login-form">
    <div>
      <a href="../Landing/index.html">
        <img src="../../img/component-img/bhoklagyoLogo.jpg" alt="Logo" class="logo">
      </a>
    </div>
    <h1>Forgot Password:</h1>
    <form id="reset-password-form" onsubmit="validateForm(event)">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" required>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
</body>
</html>
