<!DOCTYPE html>
<html lang="en" class="root">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="icon" href=../../img/component-img/foodDelivery.jpg sizes="any">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="../../styles/nav-styles.css">
    <link rel="stylesheet" href="../../styles/footer-styles.css">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <a href="../../components/login/index.html"><img src="../../img/component-img/logo.png" alt="Logo"></a>
        </div>
        <div class="toggle-button" id="navbar-toggle">&#9776;</div>
        <ul class="menu" id="navbar-links">
            <li><a href="../Order-History/index.html">Orders</a></li>
            <li><a href="../Menu-List/index.html">Menu List</a></li>
            <li><a href="index.html">Delivery</a></li>
            <li><a href="../ResturantProfile/index.html">Setting</a></li>
            <li><a href="../Landing/index.html">Signout</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h1>Today's Orders</h1>
        <div class="order" id="order">
            <div class="order-header">
                <p class="order-link"><a href="../Order-Status/index.html">Order #12345</a></p>
                <p><strong>Total:</strong> 850.00</p>
            </div>
        </div>
        <div class="order" id="order2">
            <div class="order-header">
               <p class="order-link">  <a href="../Order-Status/index.html">Order #54321</a></p>
                <p><strong>Total:</strong> 650.00</p>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-content-white" style="background:  #FF7527">
        <div class="contact-info">
            <h3>Need Help?</h3>
            <p>📞 +977 9846098780</p>
            <p>📧 Bhoklagyo@gmail.com</p>
        </div>
        <div class="about-info">
            <h3>About us</h3>
            <p>Contact us</p>
            <p>Privacy policy</p>
        </div>
    </div>
    <div class="footer-content-white">
        <div class="social-links">
            <p>© Bhok Lagyo</p>
            <p>Follow us:</p>
            <span>
                <img src="../../img/social-icon-img/instagramLogo.jpg" alt="Instagram">
                <img src="../../img/social-icon-img/facebookLogo.jpg" alt="facebook">
            </span>
        </div>
    </div>
    <div class="bottom-bar">
        <p>Powered by: UMA Team</p>
    </div>
</footer>

<script src="../../js/nav.script.js"></script>
<!--logic gar ki when to cancel a mail goes telling the order is cancel for the selcted reason-->
</body>
</html>
